body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f2f2f2;
}

header {
  background: #0d6efd;
  color: white;
  text-align: center;
  padding: 25px;
}

nav {
  background: #222;
  text-align: center;
  padding: 10px;
}

nav a {
  color: white;
  margin: 0 12px;
  text-decoration: none;
  font-weight: bold;
}

section {
  background: white;
  margin: 15px;
  padding: 20px;
  border-radius: 6px;
}

h2 {
  color: #0d6efd;
}

.box {
  border: 1px solid #ddd;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 5px;
}

footer {
  background: #222;
  color: white;
  text-align: center;
  padding: 12px;
}
